<ion-header>
  <ion-navbar>
    <ion-title>
        Students List
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addData()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="back">
 
  <ion-list>
    <ion-item-sliding *ngFor="let students of students; let i=index">
      <ion-item nopadding>
        <h4>Name: {{students.name}}</h4>
        <h3>Surname: {{students.surname}}</h3>
        <h3> Gender: {{students.gender}}</h3>
        <h3>Student No: {{students.studentNumber}}</h3>
      
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="editData(students.rowid)">
          <ion-icon name="paper"></ion-icon>
        </button>
        <button ion-button color="danger" (click)="deleteData(students.rowid)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  
</ion-content>
