page-add-data {
.back1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)), url(../../assets/imgs/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}
.y{
    background-color: rgba(78, 75, 75, 0.041);
    color: white;
}
.y1{
    background-color: rgba(78, 75, 75, 0.041);
    color: white;
}
.y2{
    background-color: rgba(78, 75, 75, 0.041);
    color: white;
}
.y3{
    background-color: rgba(78, 75, 75, 0.041);
    color: white;
}
}
